.actor {
    vertical-align: middle;
    height: 132px;
    width: 102px;
    margin: 16px auto;
    text-align: center;

    .img-container {
        width: 88px;
        height: 88px;
        padding: 2px;
        overflow: hidden;
        position: relative;
        background-color: rgba(15, 15, 15, 0.4);
        margin: 0 auto 8px;
        margin-bottom: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        z-index: -2;

        .actor-thumbnail {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 0 auto;
            background-size: contain;
            background-position: center;
        }

        .actor-placeholder-image{
            position: absolute;
            width: 80px;
            height: 80px;
            margin: auto;
            background-position: center;
            background-image: url(../images/actor-placeholder.svg);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    .actor-name {
    	font-size: 14px;
    	line-height: 18px;
    }

    /* Desktop styling */
    @media screen and (min-width: 992px) {
        height: auto;
    }
}