.autocomplete-container {
	position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    top: 64px;
    margin: auto;
    height: auto;
    max-height: 280px;
    overflow: scroll;
    background-color: var(--grey-dark-2);
    border-radius: 8px;
    padding: 16px 14px;
    -webkit-box-shadow: 0px 1px 24px 0px rgba(15, 15, 15, 0.5);
	-moz-box-shadow: 0px 1px 24px 0px rgba(15, 15, 15, 0.5);
	box-shadow: 0px 1px 24px 0px rgba(15, 15, 15, 0.5);
    
    .suggestion {
    	min-height: 16px;
        line-height: 20px;
    	padding: 8px 12px;
    	cursor: pointer;
        border-radius: 4px;
        font-weight: 500;
    	
        .release-date{
    		display: inline-block;
		    font-size: 12px;
		    color: var(--grey-light-3);
		    margin: 0 9px;
    	}
        
        &:hover {
            background-color: var(--grey-dark-3);
            color: var(--yellow);

            .release-date {
                color: var(--grey-light-2);
            }
        }
    }
}