:root {
	--grey-light-1: #f5f5f5;
	--grey-light-2: #c2c6c9;
	--grey-light-3: #757b7f;
	--grey: #41484e;
	--grey-dark-1: #222326;
	--grey-dark-2: #1b1b1d;
	--grey-dark-3: #0f0f0f;

	--yellow: #fbb000;
}